.featured{
    height: 80vh;
}
.featured--vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent);

}
.featured--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 20%, transparent 70%);
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
}
.featured--name {
    font-size: 60px;
    font-weight: bold;
}
.featred--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featured--points,
.featured--year,
.featured--seasons {
    display: inline-block;
    margin-right: 15px;
}

.featured--points {
    color: #46d369;
}

.featured--description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}

.featured--botton {
    margin-top: 15px;
}

.feactured--watch,
.feactured--mylist {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease 0.15s;
    opacity: 1;
}

.feactured--watch:hover,
.feactured--mylist:hover {
    opacity: 0.7;
}

.feactured--watch {
    background-color: #fff;
    color: #000;
}
.feactured--mylist {
    background-color: #333;
    color: #fff;
}

.featured--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}